langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
hf_xet
faiss-cpu
chromadb
langchain_chroma
langchain-openai
ipykernel
beautifulsoup4
langchain_core
fastapi
langserve
plotly
streamlit
reportlab
